.masonry {
	display: inline-block;
	width: 100%;
	position: relative;
	margin-bottom: 1rem;
	border-radius: 0.5rem;
	background-color: #ffffff;
	box-shadow:
		rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
		rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.card {
	max-width: 14rem;
	text-decoration: none;
	color: black;

	cursor: pointer;
}

.figure {
	width: 100%;
	height: auto;
	border-radius: 0.5rem;
}

.info {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 0.5rem 0.5rem 0.5rem;
	margin: 0;
}

.title {
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 300;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.price {
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-weight: 500;
}

.icon-liked,
.icon-not-liked {
	position: absolute;
	bottom: 0.5rem;
	right: 0.5rem;
	display: flex;
	padding: 0.25rem;
	justify-content: center;
	align-items: center;
	border-radius: 9999px;
	width: 1.5rem;
	height: 1.5rem;
	cursor: pointer;
}

.icon-liked {
	background-color: rgb(var(--brown-rgb));
}

.icon-not-liked {
	background-color: none;
}
