.nav {
	padding: 1rem 2rem 0 2rem;
}

.list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0;
	list-style-type: none;
}

.tittle {
	font-size: larger;
}
